@import "./pages/home";
@import "variables.css";

:root {
	font-size: var(--fs-base);
	padding: 0;
	margin: 0;
	font-family: "Poppins", sans-serif;
}

body {
	background: var(--bg-body);

	display: flex;

	width: 100vw;
	height: 100vh;

	margin: 0;
	padding: 0;

	overflow-x: hidden;
	overflow-y: auto;
}

#app {
	width: inherit;
	height: inherit;
}
